/.vs
/x64
*.exe
*.ilk
*.pbd
*.obj
*.pch
*.log
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.pdb
*.ipch
*.res
*.user
_BeAnyone/Client/BeAnyone/01 Project/Engine/x64/Debug/Engine_debug.lib.recipe
*.pdb
_BeAnyone/Client/BeAnyone/01 Project/Client/x64/Debug/*.pdb
_BeAnyone/Client/BeAnyone/01 Project/Client/x64/Debug/Client.vcxproj.FileListAbsolute.txt
_BeAnyone/Client/BeAnyone/01 Project/Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
_BeAnyone/Server/BeAnyone/01 Project/Client/x64\Release/*.recipe
_BeAnyone/Server/BeAnyone/01 Project/Client/x64\Release/*.txt
_BeAnyone/Server/BeAnyone/03 External/Library/Engine/*.lib