# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
output/IfdefDebug/.vs/IfdefDebug/v16/.suo
output/IfdefDebug/.vs/IfdefDebug/v16/Browse.VC.db
output/IfdefDebug/IfdefDebug/소스.cpp
output/IfdefDebug/.vs/IfdefDebug/v16/.suo
output/IfdefDebug/.vs/IfdefDebug/v16/Browse.VC.db
output/IfdefDebug/IfdefDebug/소스.cpp
output/IfdefDebug/.vs/IfdefDebug/v16/ipch/AutoPCH/aff9e1e8c1c491bc/소스.ipch
